/client/package-lock.json
package-lock.json

node_modules
/client/node_modules
/.pnp
.pnp.js

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
md


_OTHER

#MD
NOTES.md

#models
/src/models/_OTHER

#frontend
build
/src/hooks
